In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mordred import descriptors, Calculator
from rdkit import Chem
from rdkit.Chem import AllChem
print(np.__version__)

1.19.2

In [3]:
Calc = Calculator(descs=descriptors, ignore_3D=True)

In [4]:
df = pd.read_csv('data_all.csv',index_col="molecule_chembl_id")
df

,canonical_smiles,pchembl_value
molecule_chembl_id,,
CHEMBL1795572,CO/N=C(/C(=O)NCP(=O)(O)Oc1ccc(C#N)c(F)c1)c1ccc...,4.51
CHEMBL3112752,N[C@@H](Cc1ccc(NC(=O)[C@@H]2CC[C@@H]3CN2C(=O)N...,4.55
CHEMBL3112746,O=C(Nc1ccncc1)[C@@H]1CC[C@@H]2CN1C(=O)N2OS(=O)...,4.70
CHEMBL1173339,CCC(S)P(=O)(OC(C)C)OC(C)C,5.70
CHEMBL1172388,CCC(S)P(=O)(O)O,4.82
...,...,...
CHEMBL4088285,CC(=O)SCC(CCCc1ccccc1)c1nnn[nH]1,4.38
CHEMBL4064978,CC(=O)SCC(Cc1ccccc1)c1nnn[nH]1,4.17
CHEMBL4075406,O=P(O)(O)C(CO)CCCCc1ccccc1,5.35
CHEMBL4069211,O=P(O)(O)C(CO)CCCc1ccccc1,4.47
CHEMBL4087458,CCOP(=O)(OCC)C(CS)CCCCc1ccccc1,5.78

In [5]:
df.dropna(how= 'any', inplace=True)

In [6]:
df

,canonical_smiles,pchembl_value
molecule_chembl_id,,
CHEMBL1795572,CO/N=C(/C(=O)NCP(=O)(O)Oc1ccc(C#N)c(F)c1)c1ccc...,4.51
CHEMBL3112752,N[C@@H](Cc1ccc(NC(=O)[C@@H]2CC[C@@H]3CN2C(=O)N...,4.55
CHEMBL3112746,O=C(Nc1ccncc1)[C@@H]1CC[C@@H]2CN1C(=O)N2OS(=O)...,4.70
CHEMBL1173339,CCC(S)P(=O)(OC(C)C)OC(C)C,5.70
CHEMBL1172388,CCC(S)P(=O)(O)O,4.82
...,...,...
CHEMBL4088285,CC(=O)SCC(CCCc1ccccc1)c1nnn[nH]1,4.38
CHEMBL4064978,CC(=O)SCC(Cc1ccccc1)c1nnn[nH]1,4.17
CHEMBL4075406,O=P(O)(O)C(CO)CCCCc1ccccc1,5.35
CHEMBL4069211,O=P(O)(O)C(CO)CCCc1ccccc1,4.47
CHEMBL4087458,CCOP(=O)(OCC)C(CS)CCCCc1ccccc1,5.78

In [11]:
y = df['pchembl_value']

In [37]:
#mols = [Chem.MolFromSmiles(smi) for smi in df.canonical_smiles ]

In [38]:
# df1 = Calc.pandas(mols)

  0%|          | 78/62226 [00:17<6:26:43,  2.68it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

  0%|          | 148/62226 [00:28<5:07:16,  3.37it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

  1%|          | 314/62226 [08:56<675:31:45, 39.28s/it]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

  3%|▎         | 1755/62226 [12:51<2:28:51,  6.77it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

  4%|▎         | 2286/62226 [14:14<3:24:46,  4.88it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

  5%|▍         | 2986/62226 [16:02<3:21:48,  4.89it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 19%|█▊        | 11572/62226 [38:35<1:56:49,  7.23it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 33%|███▎      | 20413/62226 [1:01:55<1:17:15,  9.02it/s]

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

100%|██████████| 62226/62226 [2:51:54<00:00,  6.03it/s]

In [40]:
#df1.to_csv('data_mordred_descriptors.csv',index=False)

In [7]:
df2 = pd.read_csv('data_mordred_descriptors.csv')

/home/adnane/.conda/envs/rdkit/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (139,140,141,142,148,149,150,151,166,167,168,169,175,176,177,178,184,185,186,187,193,194,195,196,202,203,204,205,211,212,213,214,220,221,222,223,229,230,231,232,233,234,235,236,237,238,239,240,241,341,342,343,344,345,346,347,348,349,355,356,357,358,364,365,366,367,382,383,384,385,391,392,393,394,400,401,402,403,409,410,411,412,418,419,420,421,427,428,429,430,436,437,438,439,445,446,447,448,449,450,451,452,453,454,455,456,461,462,463,464,469,470,471,472,485,486,487,488,493,494,495,496,501,502,503,504,509,510,511,512,517,518,519,520,525,526,527,528,533,534,535,536,541,542,543,544,545,546,547,548,549,550,551,552,557,558,559,560,565,566,567,568,581,582,583,584,589,590,591,592,597,598,599,600,605,606,607,608,613,614,615,616,621,622,623,624,629,630,631,632,637,638,639,640,780,781,829,830,831,832,833,841,845,846,847,848,1363,1364,1366,1582) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df2.isnull().sum().sum()

0

In [2]:
df2.set_index(df.index, inplace= True)
df2

NameError: name 'df2' is not defined

In [12]:
df2.dtypes

ABC         float64
ABCGG       float64
nAcid         int64
nBase         int64
SpAbs_A      object
             ...
WPol          int64
Zagreb1     float64
Zagreb2     float64
mZagreb1     object
mZagreb2    float64
Length: 1613, dtype: object

### Convert values to mumerics

In [13]:
data_columuns = df2.columns
data_columuns
df2_indices = df2.index

Index(['ABC', 'ABCGG', 'nAcid', 'nBase', 'SpAbs_A', 'SpMax_A', 'SpDiam_A',
       'SpAD_A', 'SpMAD_A', 'LogEE_A',
       ...
       'SRW10', 'TSRW10', 'MW', 'AMW', 'WPath', 'WPol', 'Zagreb1', 'Zagreb2',
       'mZagreb1', 'mZagreb2'],
      dtype='object', length=1613)

In [15]:
df2 = (df2.drop(columns= data_columuns, axis=1).join(df2[data_columuns].apply(pd.to_numeric, errors='coerce')))

In [16]:
df2.dtypes

ABC         float64
ABCGG       float64
nAcid         int64
nBase         int64
SpAbs_A     float64
             ...
WPol          int64
Zagreb1     float64
Zagreb2     float64
mZagreb1    float64
mZagreb2    float64
Length: 1613, dtype: object

In [18]:
df2.to_csv('betalactamase_mordred_all_descriptors.csv', index=True)

In [20]:
df.isnull().sum().sum()

0

In [19]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import StandardScaler

In [1]:
Scaler = StandardScaler.fit(df2)
df2 = Scaler.transform(df2)
df2 = pd.DataFrame(df2, index=df2_indices, columns= data_columns)

NameError: name 'StandardScaler' is not defined